{% extends 'base.html' %}

{% block content %}
 
    <div class="brakes-bg">

        <div class="container">
            <div class="row justify-content-center">
                <h1 class="pt-5 text-sm-center gradient-text outlined-text;" style="font-size: 60px;">BRAKE SERVICE
                    AT DEEBS
                </h1>

                <h4 class="gradient-text text-sm-center pb-4"
                    style="font-size: 26px; filter: drop-shadow(1px 1px #203354);">
                    Pad, Rotor, and
                    Fluid Replacements</h4>
            </div>
        </div>
    </div>

    <div class="pb-5 text-sm-center" data-bs-theme="dark">
        <div class="custom-row-bg">
            <h2 class="pt-4">Learn the Brake-sics</h2>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-6 justify-content-center">
                    <div class="container gray-row-bg" style="border-radius: 20px">
                        <div id="carouselExampleCaptions" class="carousel carousel-dark slide">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active pt-1 pb-1">
                                    <img src="../static/images/brake-pads.png" class="d-block w-100 carousel-image pb-5"
                                        alt="...">
                                    <div class="carousel-caption carousel-text pb-3">
                                        <h5>Brake Pads</h5>
                                        <p>Brake pads create the friction needed to slow and stop the vehicle.</p>
                                    </div>
                                </div>
                                <div class="carousel-item pt-1 pb-1">
                                    <img src="../static/images/brake-rotor.png" class="d-block w-100 carousel-image pb-5"
                                        alt="...">
                                    <div class="carousel-caption carousel-text">
                                        <h5>Brake Rotors</h5>
                                        <p>Brake rotors are discs that brake pads clamp down on to halt wheel spin.</p>
                                    </div>
                                </div>
                                <div class="carousel-item pt-1 pb-1">
                                    <img src="../static/images/brake-fluid.png" class="d-block w-100 carousel-image pb-5"
                                        alt="...">
                                    <div class="carousel-caption carousel-text">
                                        <h5>Brake Fluid</h5>
                                        <p>Brake fluid transmits pedal force into braking power.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center pt-3">
            <button type="button" class="btn btn-primary btn-lg text-sm-center"
                style="border-radius: 20px; padding: 14px;">SCHEDULE SERVICE</button>
        </div>

    </div>

    <div class="custom-row-bg">
        <div class="container pb-3">
            <div class="row justify-content-center">
                <div class="column col-lg-8">
                    <h1>When to Replace Brake Pads</h1>
                    <h4>Mileage</h4>
                    <p>Typically every 50,000 miles</p>
                    <h5>Warning Signs</h5>
                    <ul class="" style="padding-left: 12px;">
                        <li class="brakes-list">Squealing or grinding noises</li>
                        <li class="brakes-list">Longer stopping distances</li>
                        <li class="brakes-list">Vibration in the steering wheel</li>
                        <li class="brakes-list">Pad thickness < 1/4 inch</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pb-5 gray-row-bg pt-5" style="font-size:20px;">
      <div class="container text-lg-start">
            <div class="row justify-content-center">
                <div class="column col-lg-8 pt-3">
                    <h1>When to Replace Rotors</h1>
                    <h4>Mileage</h4>
                    <p >Every 30,000 to 70,000 miles</p>
                    <h5 >Warning Signs</h5>
                    <ul class="" style="padding-left: 12px;">
                        <li class="brakes-list">Pulsating brake pedal</li>
                        <li class="brakes-list">Visible scoring or grooves</li>
                        <li class="brakes-list">Unusual noises during braking</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="custom-row-bg pt-4">
        <div class="container pb-3">
            <div class="row justify-content-lg-center" style="padding-right: 20px;">
                <div class="column col-lg-8 col-sm-10">
                    <h1>What Does Brake Fluid Even Do?</h1>
                    <p>Brake fluid transfers force from the brake pedal to the brakes for effective stopping. Over time,
                        it absorbs moisture, reducing braking efficiency and risking damage to the braking system.
                        Regularly replacing brake fluid helps maintain safe brake function.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}