{% extends 'base.html' %}

{% block content %}


<div class="inspections-bg" style="background-color: black;">
    <div class="container text-sm-center justify-content-sm-center">
        <h1 class="pt-5 gradient-text">MARYLAND STATE INSPECTIONS</h1>
        <br>
        <h2 class="gradient-text">$115.00</h2>
        <br>
        <h4 class="gradient-text" style="font-size: 26px; filter: drop-shadow(2px 2px #203354);">NO CHARGE FOR
            REINSPECTIONS Upon Failure!</h4>

        <div class="col d-flex justify-content-sm-center pb-4 pt-4">
            <button type="button" class="btn btn-primary btn-lg text-center" style="border-radius: 30px;">CALL TODAY</button>
            </div>
    </div>

    <div class="">
        <div class="inspections-rectangle" style="color: white; font-size:18px;">
            <div class="container">
            <h4>Understanding State Vehicle Inspections</h4>
            <p>In Maryland, a state vehicle inspection is required under specific circumstances to ensure that
                vehicles
                meet established safety standards.
                These inspections are crucial for maintaining road safety and minimizing environmental impact.</p>

            <h4>When You Need a Maryland State Inspection:</h4>
            <ol style="padding-left: 24px;">
                <li class="pb-2"><strong>Vehicle Sale or Transfer:</strong> In Maryland, a state inspection certificate
                    is
                    required when a vehicle is sold or ownership is transferred.
                    The seller or transferor must obtain the inspection certificate.</li>
                <li class="pb-2"><strong>Registration of Out-of-State Vehicles:</strong> If you're bringing a vehicle
                    into Maryland
                    from another state,
                    you must pass the Maryland State Inspection to register the vehicle.</li>
                <li class="pb-2"><strong>Periodic Inspections for Commercial Vehicles:</strong> Certain commercial
                    vehicles in
                    Maryland may be subject to
                    periodic inspections.</li>
            </ol>
            <h4>What Maryland State Inspection Entails:</h4>

            <p>Maryland’s state inspection is comprehensive and includes checks on the following components:</p>

            <ul style="padding-left: 24px;">
                <li><strong>Brakes and Suspension:</strong> The inspection ensures that the braking system and
                    suspension components are in good condition and functioning properly.</li>
                <li><strong>Steering and Alignment:</strong> Checking for proper steering performance and wheel
                    alignment.</li>
                <li><strong>Lights and Electrical Systems:</strong> Ensuring that headlights, taillights, turn
                    signals, and other electrical systems are operational.</li>
                <li><strong>Windows and Mirrors:</strong> Verifying the integrity and clarity of windows,
                    windshield, and mirrors.</li>
                <li><strong>Exhaust System:</strong> Checking the exhaust system for leaks or damages and ensuring
                    it meets emission standards.</li>
                <li><strong>Tires, Wheels, and Fuel System:</strong> Inspecting tires for tread depth and wear,
                    wheels for integrity, and the fuel system for leaks.</li>
                <li><strong>Safety Equipment:</strong> Verifying the presence and functionality of safety equipment
                    like seat belts and airbags.</li>
            </ul>

            <h3>After the Inspection:</h3>
            <ul style="padding-left: 24px;">
                <li><strong>Passing the Inspection:</strong> If your vehicle passes, you'll receive a certificate
                    that you can use for vehicle registration or sale.</li>
                <li><strong>Failing the Inspection:</strong> If your vehicle fails, you'll need to have the
                    necessary repairs made and then have the vehicle re-inspected.</li>
            </ul>

            <p>It's important to note that Maryland State Inspections are carried out by authorized inspection
                stations throughout the state. These inspections are thorough to ensure that vehicles on Maryland
                roads are safe and environmentally compliant.</p>
        </div>
    </div>

</div>

{% endblock %}